{% extends "base.html" %}

{% block content %}
<h1 align="center">Аверьянова Надежда</h1>

<p>Надя всегда ходит с Сашей Борисовой вместе.</p>
<p>У них есть локальные ПРИКОЛЫ, и они счастливы.</p>
<p>Например, они оторвали огнетушитель от стены и делали вид, что от кальян, а оны опасные якудзы.</p>
<img border="1" height="360" width="auto" src="https://cdn.bitrix24.ru/b11552114/landing/d7c/d7c037ef1395dc77f3e17b39ff795354/net_2x_2x_2x.jpg">
<p><a href="title.html">Назад</a></p>
{% endblock %}