{% extends "base.html" %}

{% block content %}
<h1 align="center">Самылин Даниил</h1>
<p>Мечтает стать лучше Илона Маска, хорошо общается с Андреем Корсаковом. Вместе разрабатывают игру.</p>
<p>Даню иногда может трясти, когда напрашиваются в бета тестеры.</p>
<img border="1" height="360" width="auto" src="https://sun9-22.userapi.com/impf/c845324/v845324490/f5ee/sBT6T6vGCF4.jpg?size=540x960&quality=96&proxy=1&sign=a9624d7067af165893135ae588b78600&type=album">
<p><a href="/title">Назад</a></p>
{% endblock %}