{% extends "base.html" %}

{% block content %}
<h1 align="center">Умницына Ира</h1>
<p>"Я всегда с собой беру" чай с ромашкой. Спортсменка, комсомолка и просто красавица.</p>
<p>Если очень попросить, то может дать списать домашку и накормит оладушками.</p>
<p>Но данная система на бартерной основе. Приходилось часто варить борщ</p>
<img border="1" height="360" width="auto" src="https://sun9-20.userapi.com/impf/BuGnNWo5GpCr0Q1JMkn_C8hSvA92ETD5TczwhA/lS28q1_3xTU.jpg?size=1280x1079&quality=96&sign=c2209242b707d361b6e6d0bc9920a6cf&type=album">
<p><a href="/title">Назад</a></p>
{% endblock %}