{% extends "base.html" %}

{% block content %}
<h1 align="center">Шакирова Диана</h1>
<p>Как говориться, мы  Тамарой ходим парой парт ту</p>
<p>После выходных бегают к Елене Александровне на переменах за водой. Есть информация, кто кто-то из 3 класса влюблен в них;)</p>
<p>Еще на выпускной нарастила длинные ногти и ела ими вместо вилки. Было экономно, забавно, но пагубно для здоровья:(</p>
    <img border="1" height="360" width="auto" src="https://sun9-54.userapi.com/impf/lCZ2UBclzcFA97E-RmtKG7EehMDzRwtI9pexVg/OWczQlhx84A.jpg?size=1280x1280&quality=96&sign=3fb4a80fd20eefc2d89652ba6a086585&type=album">
<p><a href="/title">Назад</a></p>
{% endblock %}