{% extends "base.html" %}

{% block content %}
<h1 align="center">Шигорин Ваня</h1>
<p>Очень педантичный и малообщительный.</p>
<p>Но тем не менее, у него есть цели. Он старается в каждом своём проявлении, и я очень рада за него.</p>
<p>Ну а вообще я про него ничего не знаю, рост 170, голос высокий, от пятиклашки не отличить</p>
<img border="1" height="360" width="auto" src="https://sun9-58.userapi.com/impf/c849124/v849124365/12d943/1JvW2fe68rE.jpg?size=1280x854&quality=96&sign=a9fdfb920ac0b08949d3c58b5f985334&type=album">
<p><a href="title.html">Назад</a></p>
{% endblock %}