{% extends "base.html" %}

{% block content %}
<h1 align="center">Бобров Даня</h1>
<p>Назывной "Бобрище"</p>
<p>Обожает рок, в особенности Слот, и физику.<p>
<p>Забавный факт, у Бобра есть ежедневник, где он ведёт все предметы, кроме физики, математики и истории. Возможно, конспект по вашему предмету находиться между определением гомеостаза и правового государства.<p>
<p>Жизнь для него без кофе невозможна.</p>
<img border="1" height="360" width="auto" src="https://sun9-43.userapi.com/impf/c849132/v849132082/1d6f92/wL6rXXux9jw.jpg?size=596x795&quality=96&proxy=1&sign=f86be0f7d2ac2ce2f7daee2745865274&type=album">
<p><a href="/title">Назад</a></p>
{% endblock %}