{% extends "base.html" %}

{% block content %}
<h1 align="center">Зайцев Александр<h1>

<b>Не путать с кроликом!</b>
<p>Спортсмен и программист, нет отбоя у девчат. Но сам не понимает уровня своей привлекательности.</p>
<p>Каждый ноябрь начинает не бриться, считает, что небритиябрь — это серьёзно.</p>
<img border="1" height="360" width="auto" src="https://sun9-29.userapi.com/impf/c854424/v854424425/246aab/kXt-B_X9_Ys.jpg?size=768x1024&quality=96&proxy=1&sign=2be93db794730f90dccc8db7ef6ba845&type=album">
<p><a href="title.html">Назад</a></p>
{% endblock %}