{% extends "base.html" %}

{% block content %}
    <div font="arial"><font size="5">
    <h2 align="middle">Колтушская средняя общеобразовательная школа имени академика И. П. Павлова</h2>
    <h1 align="middle">Рассказ о классе</h1>
    <p>11А класс, физинфомат. </p>
    <p>Именно то место, где парней большей, чем девушек. Можно было бы и найти себе будущего мужа, если бы парни не были стремными.</p>
    <p>В отличии от гуммов, мы знаем не только литру и русский хорошо, но и чисто в теории можем ракету в космос запустить (или знать технику безопасности при запускании салюта).</p>
    <h1 align="middle"><font color="red">Рассказ о классном руководителе</h1></font>
    <b><font color="green">Елена Александровна</font></b>
    <p>Ведёт нас с 6 класса, очень любит походы</p>
    <p>Добилась многого в школе, смогла стать завучем.</p>
    <p>Искренно любит нас, и волнуется за каждого.</p>
    <img alt="не грузится" height="360" width="auto" src="https://sun9-50.userapi.com/impf/5UBYjXcEkuGQDw-g4H9d5S_A7j0ALzN4pi7wVQ/kP1DWDxT2hQ.jpg?size=996x1080&quality=96&sign=35ab4d46d26b4a9428ced12babcdbb39&type=album">
    </font></div>
    <h1 align="middle">Рассказ о учениках</h1>
    <ol><font size="5" face="Arial">
        <li><a href="/1">Аверьянова Надежда</a></li>
        <li><a href="/2">Бобров Даня</a></li>
        <li><a href="/3">Борисова Александра</a></li>
        <li><a href="/4">Бучак Марья</a></li>
        <li><a href="/5">Винницкая Мария</a></li>
        <li><a href="/6">Зайцев Александр</a></li>
        <li><a href="/7">Корсаков Андрей</a></li>
        <li><a href="/8">Лаврентьев Андрей</a></li>
        <li><a href="/9">Ларенкова Сима</a></li>
        <li><a href="/10">Лебедев Саша</a></li>
        <li><a href="/11">Лебедев Иван</a></li>
        <li><a href="/12">Самылин Даниил</a></li>
        <li><a href="/13">Умницына Ира</a></li>
        <li><a href="/14">Шакирова Диана</a></li>
        <li><a href="/15">Шарипова Фарангис</a></li>
        <li><a href="/16">Шигорин Ваня</a></li>
    </font></ol>
    <h4 align="middle">Отзыв на бис</h4>
    <p>Буллинг процветает. Забрала отсюда сына в Разметелево. Он спокойно доучился до 11 класса, из школы было не выгнать. Он сказал, мама к нам тут относятся как к людям. Делайте выводы сами. Остальных детей даже не стала записывать в Павлово, хоть нам и ближе эта школа.</p>
{% endblock %}